{
  "presets": ["env", "react"],
  "plugins": [
    "babel-plugin-transform-flow-strip-types",
    "transform-object-rest-spread",
    "@babel/plugin-transform-regenerator"
  ],
  "env": {
    "test": {
      "plugins": ["require-context-hook"]
    }
  }
}
